# Vsftp configuration
# {{ ansible_managed }}

connect_from_port_20={{ 'YES' if vsftp_connect_from_port_20 else 'NO' }}
listen={{ 'YES' if vsftp_listen else 'NO' }}
pam_service_name=vsftpd
syslog_enable={{ 'YES' if vsftp_syslog_enable else 'NO' }}

anonymous_enable={{ 'YES' if vsftp_anonymous_enable else 'NO' }}
{{ if vsftpd_anon_root is defined }}
anon_root={{ vsftpd_anon_root }}
{{ endif }}

local_enable={{ 'YES' if vsftp_local_enable else 'NO' }}
{{ if vsftpd_local_root is defined }}
local_root={{ vsftpd_local_root }}
{{ endif }}
local_umask=022

write_enable={{ 'YES' if vsftp_write_enable else 'NO' }}

chroot_local_user={{ 'YES' if vsftp_chroot_local_user else 'NO' }}

pasv_enable=Yes
pasv_min_port=21000
pasv_max_port=21020